
.header_page {
    width: 100%;
}

.header_title {
    width: 100%;
    text-align: center;
    /* Centers the image in the header_title */
}

.header {
    width: 100%;
    background-color: rgb(117, 117, 117);
    /* Example background color */
    border-bottom: 1px solid #cf080800;
    align-items: left;
}

.nav {
    display: flex; /* Enables flexbox */
    justify-content: left; /* Centers the nav items horizontally */
    padding: 10px;
    margin: 0;
    list-style: none; /* Removes default list styling */
}

.nav-item {
    padding: 15px;
    /* Example padding, adjust as needed */
}

.nav-item {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    list-style: none;
}

.nav-item a {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
}