.Run-Box {
    background-color:  grey;
    padding: calc(10px+2vmin);
    margin: calc(10px+2vmin);
    height: 60vh;
    width: 30vh;
}

.Run-Title {
    font-size: calc(10px+2vmin);
}

.Run-Table {
    display: block;

    max-height: 90%;
    overflow-y: scroll;
    border-collapse: collapse;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: left;
  }