.run-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Split into two columns */
    height: 100%; /* Full height */
    padding: 10px; /* Padding around the container */
    gap: 15px; /* Space between columns acts as the line */
    box-sizing: border-box; /* Includes padding and border in the width and height */
}

.DifferentSelections {
    padding: 10px;
    
}

.AxisSelectors {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Improved column sizing */
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
}

.graph-window {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 100vh)); /* Responsive grid columns */
    grid-gap: 10px; /* Space between charts */
    overflow-y: auto; /* Allow vertical scrolling */
    padding: 10px;
    flex-grow: 1; /* Take up remaining space */
}

.graph-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.Run-Box {
    height: 50vh;
    width: 100%;
}